@import 'tailwindcss';

@theme {
  --color-primary-400: #e9c267; /* turunan lebih terang dari #e3b23c */
  --color-primary-500: #e3b23c; /* warna utama */
  --color-primary-600: #d19a1a; /* turunan lebih gelap, untuk hover/active */
  --color-secondary-950: #16130f; /* warna background */
}

:root {
  color-scheme: dark;
}

html,
body,
#root {
  min-height: 100dvh;
}

body {
  margin: 0;
}
